:root{
    --couleur-primaire:#202231;
    --couleur-secondaire:#8C031A;
    --couleur-tertiaire:#EDF2F4;
    --couleur-degrade:linear-gradient(rgba(07,14,30, 0.5) rgba(217,4,21, 0.5));
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}
.slide {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


.blocHorizontal {
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.container_front-page {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-x: hidden;

    /* pour ie et mozilla */
    -ms-overlow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}
.one {
    background: var(--couleur-tertiaire);
}
.two {
    background: var(--couleur-primaire);
}
.three {
    background: var(--couleur-tertiaire);
}
.four {
    background: var(--couleur-primaire);
}