:root{
    --couleur-primaire_transparent:#071430;
    --couleur-secondaire:#b10420;
    --couleur-tertiaire:#EDF2F4;
    --couleur-degrade:linear-gradient(rgba(07,14,30,.8), rgb(150, 3, 27));
}

.contact_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    color:var(--couleur-tertiaire);
    padding-bottom: 60px;
    padding-top: 60px;
    background: var(--couleur-degrade);
    border-radius: 25px;
    font-size: 26px;
    margin-bottom: 50px;
  }

.button{
    margin-top: 3rem;
    background-color: var(--couleur-tertiaire);
    color: var(--couleur-primaire_transparent);
    width: 225px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    transition: 0.5s;
  }
  
.button:hover{
    box-shadow: 5px 5px 2px 1px var(--couleur-primaire_transparent);
    letter-spacing: 2px;
    transition: 0.5s;
  }
  @media only screen and (max-width: 1024px){

    .contact_form{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 200px;
      color:var(--couleur-tertiaire);
      padding-bottom: 60px;
      padding-top: 60px;
      background: var(--couleur-degrade);
      border-radius: 25px;
      font-size: 26px;
    }

  }

