.main{
    background-color:var(--couleur-tertiaire);
    height: 100vh;
    font-size: 30px;
  
  }
.main_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: 'Staatliches', cursive;
  }
  .main_text--aera{
    margin-left: 60px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .main_text--slogan{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    letter-spacing: 5px;
    padding-left: 60px;
    color: var(--couleur-secondaire);
    font-family: 'Staatliches', cursive;
    font-size: 48px;
  }
  
  .main_text h1 {
    color: var(--couleur-primaire_transparent);
    font-family: 'kremlin';
    font-size: 126px;
  }
  
  .main_text h2{
    color: var(--couleur-secondaire);
    letter-spacing: 5px;
    font-size: 56px;
    
  }
  
  .main_text--metier{
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding-top: 10px;
  }
  
  .main_text h2:hover, #blue_text:hover {
    letter-spacing: 5px;
  }
  #blue_text{
    color:var(--couleur-primaire_transparent);
  }
  
  
  .main_text--button{
    margin-top: 3rem;
    background-color: var(--couleur-primaire_transparent);
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
  }
  
  .main_text--button:hover{
    background-color: var(--couleur-secondaire);
    color: white;
    box-shadow: 5px 5px 2px 1px var(--couleur-primaire_transparent);
  }

  @media only screen and (max-width: 1024px){

    
  .main_text--aera{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: auto;
  }


  .main_text--metier{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
  }

  
  .main_text h1 {
    display: flex;
    font-family: 'kremlin';
    font-size: 56px;
   justify-content: center;
   padding-left: 20px;
  }
  .main_text--slogan{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    padding-top: 15px;
    color: var(--couleur-secondaire);
    font-family: 'Staatliches', cursive;
    font-size: 28px;
  }
  .main_text--button{
    display: flex;
    margin-top: 3rem;
    margin-top: 2rem;
    background-color: var(--couleur-primaire_transparent);
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin: auto;
    margin-top: 25px;

  }
}