.footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 150px;
    background-color: var(--couleur-primaire_transparent);
    border-top: var(--couleur-tertiaire) 3px solid;
    color: white;
    text-align: center;
    font-family: 'Staatliches', cursive;
    justify-content: center;
    font-size: 18px;
    margin-top: 80px;
  }
  
  .footer h3{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'kremlin';
    font-size: 32px;
  }
   
  .footer__links ul {
    margin: 0;
    padding: 0;
    display: flex;
    /* list-style-type: none; */
    justify-content: space-around;
    font-size: 18px;
}

.footer__links li {
    list-style: none;
    width: 150px;
}

.footer__links li a {
    text-decoration: none;
    color: var(--couleur-tertiaire);
    /* padding: 1rem; */
    display: block;

}

.footer__links li a:hover{
    letter-spacing: 3px;
    background-color: var(--couleur-secondaire);
    color: var(--couleur-tertiaire);
    border-radius: 20px;
    border:  var(--couleur-tertiaire) 2px solid;;
}
